---
import { characterImageData, characters } from '@/assets/characters'
import { Elements } from '@/assets/characters/types'
import elements from '@/assets/images/elements'
import Button from '@/components/Button'
import Card from '@/components/Card.astro'
import Chip from '@/components/Chip'
import LeftArrow from '@/components/LeftArrow.astro'
import RightArrow from '@/components/RightArrow.astro'

const { id } = Astro.props
const character = characters[id]

const iconImg = characterImageData[character.id].icon
const elementImg = elements[character.element]
const { element } = character
const getColorClass = () => {
  switch (element) {
    case Elements.Anemo:
      return 'bg-anemo'
    case Elements.Cryo:
      return 'bg-cryo'
    case Elements.Dendro:
      return 'bg-dendro'
    case Elements.Electro:
      return 'bg-electro'
    case Elements.Geo:
      return 'bg-geo'
    case Elements.Hydro:
      return 'bg-hydro'
    case Elements.Pyro:
      return 'bg-pyro'
    default:
      return ''
  }
}
const colorClass = getColorClass()

const navHeaders = [
  'Materials',
  'Weapons',
  'Artifacts',
  'Stats',
  'Teams',
  'Passives',
  'Constellations',
  'Ascension',
]
---

<script>
  const leftArrow = document.getElementById('left-arrow')
  const rightArrow = document.getElementById('right-arrow')
  const navContainer = document.getElementById('nav-container')

  leftArrow?.addEventListener('click', () => {
    if (navContainer != null) {
      navContainer.scrollLeft -= 150
    }
  })

  rightArrow?.addEventListener('click', () => {
    if (navContainer != null) {
      navContainer.scrollLeft += 150
    }
  })
</script>

<section class="max-h-screen w-11/12">
  <Card>
    <div class="flex flex-col md:flex-row">
      <header
        class="relative flex shrink flex-col items-center gap-y-3 border-b-2 border-black p-6 text-center md:items-start md:border-b-0 md:border-r-2 md:text-justify"
      >
        <img
          class="w-36 rounded-full ring-2 ring-black transition-colors duration-300 ease-in-out"
          src={iconImg.src}
          style={{ minWidth: '144px' }}
          alt="icon"
        />
        <div
          class={`absolute right-4 top-4 w-10 rounded-full ${colorClass} p-1 ring-2 ring-black`}
        >
          <img class="drop-shadow-md" src={elementImg.src} alt={element} />
        </div>
        <h1 class="pt-2 font-heading text-2xl font-bold uppercase md:text-4xl">
          {character.name}
        </h1>
        <div class="flex gap-x-3">
          {
            [character.weaponType, character.role].map((v) => (
              <Chip content={v} />
            ))
          }
        </div>
      </header>
      <section class="flex flex-col divide-y-2 divide-black">
        <section
          class={`grid grid-flow-col divide-x-2 divide-black md:rounded-tr-3xl ${colorClass}`}
        >
          <button id="left-arrow" class="flex items-center justify-center px-2">
            <LeftArrow />
          </button>

          <nav
            id="nav-container"
            class="grid snap-x grid-flow-col gap-x-2 overflow-x-auto scroll-smooth py-2"
          >
            {
              navHeaders.map((v) => {
                const navId = v.toLowerCase()
                return (
                  <a
                    class="snap-center first:pl-2 last:pr-2"
                    href={`#${navId}`}
                  >
                    <Button title={v} />
                  </a>
                )
              })
            }
          </nav>
          <button id="right-arrow" class="flex items-center justify-center px-2"
            ><RightArrow /></button
          >
        </section>
        <section
          class="flex shrink scroll-py-2 flex-col gap-y-4 overflow-y-auto scroll-smooth px-4"
        >
          {
            navHeaders.map((v) => {
              const divId = v.toLowerCase()

              return (
                <div class="grid first:pt-3 last:pb-3" id={divId}>
                  <h2 class="font-heading text-lg font-bold">{v}</h2>
                  <section>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Illo ullam sequi eos soluta dolorum distinctio, aspernatur
                    enim. Iste veniam illo ad omnis reprehenderit assumenda
                    optio beatae itaque, architecto veritatis vitae vero nisi,
                    ipsum amet nostrum ut reiciendis! Laborum tempora sed,
                    soluta quos nobis facere, recusandae doloribus voluptatum
                    sint numquam deserunt incidunt amet debitis repellendus vero
                    quam sequi expedita accusantium pariatur cum? Delectus
                    voluptate dolore iste sequi harum, quia vitae eum quo
                    itaque? Provident autem temporibus neque? Praesentium
                    nostrum possimus id hic harum officiis, ipsam quia modi
                    saepe error pariatur suscipit assumenda dicta sapiente
                    ratione expedita laboriosam qui, soluta alias esse.
                  </section>
                </div>
              )
            })
          }
        </section>
      </section>
    </div>
  </Card>
</section>
